html, body {
    height: 100%;
}

body {
    margin-top: 60px;
}

div[ui-view] {
    height: 100%;
}

#whiteboard {
    min-height: 100%;
    position: relative;
}

.container{
    max-width: none !important;
    width: 970px;
}

textarea {
    resize: none;
}