html, body {
    height: 100%;
}

body {
    margin-top: 60px;
}

div[ui-view] {
    height: 100%;
}

#navbar {
    z-index: 10000;
}

#whiteboard {
    min-height: 100%;
    position: relative;
}

.container{
    max-width: none !important;
    width: 970px;
}

textarea {
    resize: none;
}

/* Show/Hide animation */

/*.ng-hide, .ng-show {
    -webkit-transition:all linear 0.1s;
    -moz-transition:all linear 0.1s;
    -ms-transition:all linear 0.1s;
    -o-transition:all linear 0.1s;
    transition:all linear 0.1s;
    display: block !important;
}

.ng-show {
    opacity: 1;
}

.ng-show.ng-show-active {
    opacity: 0;
}

.ng-hide {
    opacity: 0;
}

.ng-hide.ng-hide-active {
    opacity: 1;
}*/