/* Resizer */

.resizer {
    position: absolute;
}

.selectable-components .resizer-width:hover {
    cursor: e-resize;
}

.selectable-components .resizer-height:hover {
    cursor: n-resize;
}

.selectable-components .resizer-width.resizer-height:hover {
    cursor: nwse-resize;
}