/* Component */

.container-component {
    position: absolute;
}

.iframe-component-layer {
    position: absolute;
    visibility: hidden;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
}

.component {
    position: absolute;
    top:0;
    left:0;
    cursor: default;
}

.selectable-components .component {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.resizer {
    visibility: hidden;
}

.selectable-components .resizer {
    visibility: visible;
}

.component.dragging {
    cursor: pointer;
}

.component-editor {
    position: absolute;
    top:0;
    left:0;
}

.component-not-selectable-layer {
    z-index: 2147483644;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
}

.component-not-selectable-layer:hover {
    background-color:red;
    opacity:1;
}