html, body {
    height: 100%;
}

body {
    position: absolute;
    top: 51px;
    left: 0;
    height: 100%;
    width: 100%;
}

body.selectable-components {

    background-image: url('../img/background-grid.png');
    background-repeat: repeat;
    background-position: 0px 51px;
}

div[ui-view] {
    height: 100%;
}

#navbar {
    z-index: 2147483645;
}

#whiteboard {
    min-height: 100%;
    position: relative;
}

.container{
    max-width: none !important;
    width: 970px;
}

textarea {
    resize: none;
}