body {
    overflow: hidden;
}

#navbar {
    z-index: 2147483645;
    margin-bottom: 0px;
}

#whiteboard {
    position: absolute;
}

#whiteboard.selectable-components {
    background-image: url('../img/background-grid.png');
    background-repeat: repeat;
    background-position: 0px 0px;
}

.container{
    max-width: none !important;
    width: 970px;
}

textarea {
    resize: none;
}