<div id="navbar" class="navbar navbar-default navbar-fixed-top unselectable">

    <div class="navbar-header pull-left">
        <a class="navbar-brand" href="#">White Board</a>
    </div>

    <div class="navbar-header pull-left" style="margin-top: 8px; margin-left: 50px;">

        <button type="button" ng-click="addText()" class="btn btn-default">
            <span class="glyphicon glyphicon-plus-sign"></span> Add
        </button>
    </div>

    <div class="navbar-header pull-right" style="margin-top: 15px; margin-right: 50px;">
        {{nbConnectedUsers | json}} user{{(nbConnectedUsers > 1) ? 's' : ''}} connected
    </div>

</div>



<white-board white-board-style="whiteBoardStyle"></white-board>

<div id="loader" ng-if="nbConnectedUsers == 0">
    <div class="loader-animation unselectable">

        <div class="windows8">
            <div class="wBall" id="wBall_1">
                <div class="wInnerBall">
                </div>
            </div>
            <div class="wBall" id="wBall_2">
                <div class="wInnerBall">
                </div>
            </div>
            <div class="wBall" id="wBall_3">
                <div class="wInnerBall">
                </div>
            </div>
            <div class="wBall" id="wBall_4">
                <div class="wInnerBall">
                </div>
            </div>
            <div class="wBall" id="wBall_5">
                <div class="wInnerBall">
                </div>
            </div>
        </div>

        <div id="loading-message">
            Loading...
        </div>
    </div>

    <div class="loader-backdrop unselectable">
    </div>
</div>